<%= form_for @team, url: team_path(@team),
			method: :delete,
               data: { confirm: "Are you sure? For real?  Once it's Gone, it's GONE." } do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
 <fieldset>
   <legend><%= "Remove #{@team.name} From the Competition" %></legend>
   <div class="actions">
    <%= submit_tag("Remove It!") %>
  </div>
  </fieldset>
<% end %>
