<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <fieldset>
   <legend><%= "Move #{@team.name} to a Different Grouping" %></legend>
  <div class="field">
    <%= f.label "Move to " %>
     <%= f.select :grouping_id,
		      options_for_select(@team.competition.groupings.collect {|g| [ g.fullname, g.id ] },
		                                selected: @team.grouping_id), 
		    {prompt: 'Which?'} %>
  </div>
    
  <div class="actions">
    <%= submit_tag("Move It!") %>
  </div>
  </fieldset>
<% end %>
