<p id="notice"><%= notice %></p>

<p>
  <strong>Competition:</strong>
  <%= @team.competition_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Grouping:</strong>
  <%= @team.grouping_id %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', grouping_teams_path(@grouping) %>
