<h1>Brackets for <%= @bracket.hierarchy.join(' ') %></h1>

<p id="notice"><%= notice %></p>

<p><%= @bracket.all_teams.collect{|t|t.name()}.join(' - ') %></p>


<p><%= @bracketcontests.count() %> Bracket Contests have been
 schedule in this Bracket.</p>

<ul><% @bracketcontests.each do |bc| %> <li>
  <%= render partial: 'bracketcontests/bracket_contest' ,
       locals: { bracketcontest: bc }  %>
  </li>
<% end %></ul>

<%= link_to 'Edit This Bracket', competition_bracket_bracketcontests_path(@competition, @bracket) %>
<br/>
<%= link_to 'Back to Bracket Home', competition_brackets_path %>
