<%= form_for(@bracketcontestant) do |f| %>
  <% if @bracketcontestant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bracketcontestant.errors.count, "error") %> prohibited this bracketcontestant from being saved:</h2>

      <ul>
      <% @bracketcontestant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contest_id %><br>
    <%= f.text_field :contest_id %>
  </div>
  <div class="field">
    <%= f.label :homeaway %><br>
    <%= f.text_field :homeaway %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.text_field :team_id %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :forfeit %><br>
    <%= f.check_box :forfeit %>
  </div>
  <div class="field">
    <%= f.label :contestanttype %><br>
    <%= f.text_field :contestanttype %>
  </div>
  <div class="field">
    <%= f.label :seeding %><br>
    <%= f.number_field :seeding %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
