<h1>Listing bracketcontestants</h1>

<table>
  <thead>
    <tr>
      <th>Contest</th>
      <th>Contest Type</th>
      <th>Homeaway</th>
      <th>Team</th>
      <th>Score</th>
      <th>Forfeit</th>
      <th>Contestanttype</th>
      <th>Seeding</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bracketcontestants.each do |bracketcontestant| %>
      <tr>
        <td><%= bracketcontestant.contest_id %></td>
        <td><%= bracketcontestant.contest_type %></td>
        <td><%= bracketcontestant.homeaway %></td>
        <td><%= bracketcontestant.team_id ? Team.find(bracketcontestant.team_id).name : 'TBD' %></td>
        <td><%= bracketcontestant.score %></td>
        <td><%= bracketcontestant.forfeit %></td>
        <td><%= bracketcontestant.contestanttype %></td>
        <td><%= bracketcontestant.seeding %></td>
        <td><%= link_to 'Show', bracketcontestant %></td>
        <td><%= link_to 'Edit', edit_bracketcontestant_path(bracketcontestant) %></td>
        <td><%= link_to 'Destroy', bracketcontestant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bracketcontestant', new_bracketcontestant_path %>
