<p id="notice"><%= notice %></p>

<p>
  <strong>Contest:</strong>
  <%= @bracketcontestant.contest %>
</p>

<p>
  <strong>Homeaway:</strong>
  <%= @bracketcontestant.homeaway %>
</p>

<p>
  <strong>Team:</strong>
  <%= @bracketcontestant.team %>
</p>

<p>
  <strong>Score:</strong>
  <%= @bracketcontestant.score %>
</p>

<p>
  <strong>Forfeit:</strong>
  <%= @bracketcontestant.forfeit %>
</p>

<p>
  <strong>Contestanttype:</strong>
  <%= @bracketcontestant.contestanttype %>
</p>

<p>
  <strong>Seeding:</strong>
  <%= @bracketcontestant.seeding %>
</p>

<%= link_to 'Edit', edit_bracketcontestant_path(@bracketcontestant) %> |
<%= link_to 'Back', bracketcontestants_path %>
