<%= form_for([@grouping]) do |f| %>
  <% if @grouping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grouping.errors.count, "error") %> prohibited this grouping from being saved:</h2>

      <ul>
      <% @grouping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <% if @grouping.parent_id %>
  <div class="field">
    <%= f.label :parent %><br>
    <%= f.select :parent_id,
           options_for_select(@groupings.select{|g| g != @grouping}.collect { |g| [g.hierarchy.join(' | '), g.id] },
             selected: @grouping.parent_id), {} %>
  </div>
  <% end %>

  <div class="field">
    Check if this is a Bracket Grouping:
    <%= f.check_box :bracket_grouping %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
