<h1>Groupings for <%= @manager.name %>
<%= @manager.sport.humanize %> <%= @manager.variety.humanize %></h1>

  
<% content_for :info_message do %>
If you need to change something about a Grouping, click on its name.   
<% end %>

<%= button_to 'Add New Grouping', new_grouping_path(@manager), method: :get %>

<% topgroup = @groupings.select{|g| g.parent_id.nil?}.first %>
<%= content_tag(:ul, nested_groupings(1, topgroup), {class: "nav1"} ) %>

