<%= form_for([@regularcontest]) do |f| %>
  <% if @regularcontest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@regularcontest.errors.count, "error") %> prohibited this regularcontest from being saved:</h2>

      <ul>
      <% @regularcontest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend><%= "Update this Contest" %></legend>
  <div class="field">
    <%= f.label :date %>
    <%= f.select :date,
		      options_for_select(@manager.validdates.sort{|a,b| a.gamedate <=> b.gamedate}.
		                                                 collect {|v| [ v.gamedate, v.gamedate ]},
		                                selected: @selecteddate), 
		    {prompt: 'TBD'} %>
    <%= f.label :time %>
    <%= f.select :time,
		      options_for_select(Regularcontest.times,
		                                selected: @selectedtime), 
		    {prompt: 'TBD'} %>
		    
    <%= f.label :venue %>
    <%= f.select :venue_id,
		      options_for_select(@manager.venues.collect {|v| [ v.name, v.id ] },
		                                selected: @selectedvenue), 
		    {prompt: 'TBD'} %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status,
		      options_for_select(Regularcontest.statuses.collect {|st| [ st, st ] },
		                                selected: @selectedstatus), 
		    {} %>
  </div>
  
  <div class="field">
   <%= f.label :home %>
   <% f.fields_for :homecontestant, @homecontestant do |home_form| %>
     <%= home_form.label :name %>
     <%= home_form.text_field :homeaway %>
    <!-- %= home_form.select :team_id,
		      options_for_select(@manager.teams.collect {|t| [ t.name, t.id ] },
		                                selected: @homecontestant.team_id), 
		    {prompt: 'TBD'} % -->
    <% end %>
  
  
  
  <%= f.label :visitor %>
   <% f.fields_for :awaycontestant, @awaycontestant do |away_form| %>
     <%= away_form.label :name %>
     <%= away_form.text_field :homeaway %>
    <% end %>
    <!-- %= f.select :away_team_id,
		      options_for_select(@manager.teams.collect {|t| [ t.name, t.id ] },
		                                selected: @awaycontestant.team_id), 
		    {prompt: 'TBD'} % -->
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  </fieldset>
<% end %>
