<%= form_for([@regularcontest]) do |f| %>
  <% if @regularcontest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@regularcontest.errors.count, "error") %> prohibited this regularcontest from being saved:</h2>

      <ul>
      <% @regularcontest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend><%= @formverb + " this Contest" %></legend>
  <div class="field">
    <%= f.label :date %>
    <%= f.select :date,
		      options_for_select(@manager.validdates.sort{|a,b| a.gamedate <=> b.gamedate}.
		                                                 collect {|v| [ v.gamedate, v.gamedate ]},
		                                selected: @regularcontest.date), 
		    {prompt: 'TBD'} %>
    <%= f.label :time %>
    <%= f.select :time,
		      options_for_select(@manager.valid_times_as_select_options(),
		                                selected: @regularcontest.time), 
		    {prompt: 'TBD'} %>
		    
    <%= f.label :venue %>
    <%= f.select :venue_id,
		    select_from_objects(@manager.venues, @regularcontest.venue),
		    {prompt: 'TBD'} %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status,
		      options_for_select(Regularcontest.statuses.collect {|st| [ st, st ] },
		                                selected: @selectedstatus), 
		    {} %>
  </div>
  
  <div class="field">
   <%= f.label :home %>
   <%= fields_for :homecontestant, @regularcontest.homecontestant do |home_form| %>
     <%= home_form.label :team %>
    <%= home_form.select :team_id,
		    select_from_objects(@manager.teams, @regularcontest.homecontestant.team),
		    {prompt: 'TBD'} %>
    <% end %>
   <br/>
  <%= f.label :visitor %>
   <%= fields_for :awaycontestant, @regularcontest.awaycontestant do |away_form| %>
    <%= away_form.select :team_id,
		    select_from_objects(@manager.teams, @regularcontest.awaycontestant.team),
		    {prompt: 'TBD'} %>
    <% end %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  </fieldset>
<% end %>
