<%= form_tag("roundrobin") do %>

  <div class="field">
    <%= label_tag :grouping %><br>
    <%= select_tag :grouping_id,
		      options_for_select(Grouping.all.select{|g| g.hasTeams?}.
		                                                collect {|g| [ g.hierarchy.join(' - '), g.id ]}) %>
  </div>
  <div class="field">
    <%= label_tag :venue %><br>
    <%= select_tag :venue_id,
			options_for_select(Venue.all.collect {|v| [ v.name, v.id ] }),
			prompt: "TBD" %>
  </div>
  
  <div class="actions">
  <%= submit_tag("Schedule It!") %>
  </div>
<% end %>
