<%= form_tag("roundrobin") do %>

  <div class="field">
    <%= label_tag :grouping %><br>
    <%= select_tag :grouping_id,
                        select_from_objects(@manager.groupings, 
						    @manager.groupings.size==1 ? @manager.groupings.first : nil) %>
  </div>
  
  <div class="field">
    <%= label_tag :venue %><br>
    <%= select_tag :venue_id,
                        select_from_objects(@manager.venues, 
						    @manager.venues.size==1 ? @manager.venues.first : nil),
			prompt: "TBD" %>
  </div>
  
  <div class="field">
    <%= label_tag "Date(s)" %><br>
    <%= select_tag(:gamedates,
		options_from_collection_for_select(@manager.validdates,:gamedate, :gamedate),
		 multiple: true, include_blank: true,  prompt: "Do something" )
		%>
  </div>
  
  <div class="actions">
  <%= submit_tag("Schedule It!") %>
  </div>
<% end %>
