<h2>Bracketgroupings for <%= @bracketgrouping.hierarchy.join(' ') %></h2>

<p id="notice"><%= notice %></p>


<% @numseeds ||= @bracketgrouping.all_teams.size() %> 
<% numrounds = Math.log2(@numseeds).ceil %>
<% maxseed = (Math.log2(@numseeds).ceil) ** 2 + 1 %>

<!-- %= form_tag("/bracketgroupings/#{@bracketgrouping.id}/complete/") do % -->
<%= form_tag complete_bracketgrouping_path(@bracketgrouping) do %>
  You can change the number of Contestants in this Bracket ...
  <%= select_tag('numseeds', options_for_select( (1..maxseed).collect {|s| [ s.to_s, s ] },
		                                selected: @numseeds),
		    :onchange => 'showDummyBracket()' ) %>
   <%= submit_tag "Revise" %>
<% end %>


<%= form_tag("/bracketgroupings/#{@bracketgrouping.id}/complete_create/") do %>
  Or you can Create this Bracket With <%= @numseeds %> Contestants...
  <%= hidden_field_tag('numseeds', @numseeds ) %>
   <%= submit_tag "Create It!" %>
<% end %>

<div class="bracket" id="dummybracketdisplay">
 <%= render partial: 'display/grouping_bracket_array_pair' ,
       locals: {arraypair: @bracketgrouping.se_matchups(@numseeds),
                    roundnum: numrounds }  %>
</div>

<br/>

<%= link_to 'Back to Bracketgrouping Home', bracketgroupings_path %>