<h1>Bracketgroupings for <%= @bracketgrouping.hierarchy.join(' ') %></h1>

<p id="notice"><%= notice %></p>

<p><%= @bracketcontests.count() %> Bracket Contests have been
 scheduled in this Bracketgrouping.</p>

<% needed = Bracketcontestant.all.select{|bc| bc.contest.bracketgrouping==@bracketgrouping}.
                       select{|bc| bc.contestanttype=="W"}.collect{|bc| bc.priorcontest} %> 

<% (@bracketcontests-needed).each do |bc| %> 
  <%= render partial: 'bracketcontests/bracket_contest' ,
       locals: { bracketcontest: bc, final: true, editable: true }  %>
  <br/>
<% end %>

<%= link_to 'Complete Bracketgrouping', complete_bracketgrouping_path(@bracketgrouping) %>
<br/>
<%= link_to 'New Bracketcontest', new_bracketgrouping_bracketcontest_path(@bracketgrouping) %>
<br/>
<%= link_to 'Back to Bracketgrouping Home', bracketgroupings_path %>
