<h1>Listing regularcontestants</h1>

<table>
  <thead>
    <tr>
      <th>Contest</th>
      <th>Contest type</th>
      <th>Homeaway</th>
      <th>Team</th>
      <th>Score</th>
      <th>Forfeit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regularcontestants.each do |regularcontestant| %>
      <tr>
        <td><%= regularcontestant.contest_id %></td>
        <td><%= regularcontestant.contest_type %></td>
        <td><%= regularcontestant.homeaway %></td>
        <td><%= regularcontestant.team_id ? Team.find(regularcontestant.team_id).name : 'TBD' %></td>
        <td><%= regularcontestant.score %></td>
        <td><%= regularcontestant.forfeit %></td>
        <td><%= link_to 'Show', regularcontestant %></td>
        <td><%= link_to 'Edit', edit_regularcontestant_path(regularcontestant) %></td>
        <td><%= link_to 'Destroy', regularcontestant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Regularcontestant', new_regularcontestant_path %>
