<%= form_for(display_team_path(@competition, @team)) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> kept you from logging in:</h2>

      <ul>
      <% @competition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= carrier_select %>

  <div class="field">
    <%= f.label :userid, 'Enter your email address:' %><br>
    <%= f.email_field :userid, :size => 80 %>
  </div>
  <div class="actions">
    <%= f.submit 'Login' %>
  </div>
<% end %>
