
  <div class="r<%=roundnum %>">
    <div class="r<%=roundnum %>h">
       <%= contest.homecontestant.contestanttype == "W" ? 
                (render partial: 'grouping_bracket_pair',
     		             locals: { contest: contest.homecontestant.bcspec.bracketcontest, roundnum: roundnum - 1} ) :
                " "  %>
    </div>
    <div class="r<%=roundnum %>a">
       <%= contest.awaycontestant.contestanttype == "W" ? 
                (render partial: 'grouping_bracket_pair',
 		             locals: { contest: contest.awaycontestant.bcspec.bracketcontest, roundnum: roundnum - 1} ) :
                " "  %>
    </div>
    <div class="r<%=roundnum %>pair">
    <div class="btop">
      <span class="btopcontents"><%= [contest.homecontestant.briefname(), contest.homecontestant.score().to_s()].join(" ") %>
      </span>    
    </div>    
    <div class="bmid">
      <span class="bmid">
        <%= contest.name() %><br/>
	<%= [contest.display_date(), contest.display_time].join(" ") %><br/>
	<%= contest.venue_name() %>
      </span>
    </div>
    <div class="bbot"><%=[contest.awaycontestant.briefname(), contest.awaycontestant.score().to_s()].join(" ") %>
    </div>  
    </div>
</div>

