<!-- Expecting values for "roundnum" and "arraypair" -->
<!-- Useful for showing a "what-if" bracket example -->

  <div class="r<%=roundnum %>">
    <div class="r<%=roundnum %>h">
      <% logger.info("$$$$$ #{arraypair.inspect()}") %>
       <%= arraypair.first.is_a?(Array) && ! arraypair.first[1].nil? ? 
                (render partial: 'display/grouping_bracket_array_pair',
     		             locals: { arraypair: arraypair.first, roundnum: roundnum - 1} ) :
                " "  %>
    </div>
    <div class="r<%=roundnum %>a">
       <%= arraypair.last.is_a?(Array) && ! arraypair.last[1].nil? ? 
                (render partial: 'display/grouping_bracket_array_pair',
 		             locals: { arraypair: arraypair.last, roundnum: roundnum - 1} ) :
                " "  %>
    </div>
    <div class="r<%=roundnum %>pair">
    <div class="btop">
      <span class="btopcontents">
        <%= arraypair.first if arraypair.first.is_a?(Fixnum) %>
	<%= arraypair.first[0] if arraypair.first.is_a?(Array) && arraypair.first[1].nil? %>
      </span>    
    </div>    
    <div class="bmid">
      <span class="bmid">      </span>
    </div>
    <div class="bbot">
      <%=arraypair.last if arraypair.last.is_a?(Fixnum) %>
	<%= arraypair.last[0] if arraypair.last.is_a?(Array) && arraypair.last[1].nil? %>
    </div>  
    </div>
</div>

