<h4>Scores</h4>

<table class="schedule">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Location</th>
      <th colspan="3">Teams</th>
    </tr>
  </thead>

  <tbody>
      <!-- Show sorted, unique Teams -->
    <% @grouping.contests.select{|c| c.has_score?}.each do |cntst| %>
      <tr>
        <td><%= cntst.display_date %></td>
        <td><%= cntst.display_time %></td>
        <td><%= cntst.venue_name %></td>
	<td><%= cntst.awaycontestant.fullname %></td>
        <td>at</td>
	<td><%= cntst.homecontestant.fullname %></td>
      </tr>
    <% end %>
  </tbody>
  </table>