<h4>Schedule</h4>


<table class="schedule">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Location</th>
      <th colspan="3">Teams</th>
    </tr>
  </thead>

  <tbody>
      <!-- Show sorted, unique Teams -->
    <% moreThanOneType = (@contests.collect{|c|c.type}.uniq.size()>1) %> 
    <% lastType = nil %> 
    <% lastDate = nil %>
    <% @contests.each do |cntst| %>
      <% if moreThanOneType && cntst.type != lastType %>
        <tr><th class="typeBanner" colspan="6"><%= group_schedule_section_label(cntst.competition,cntst.type() )%></th></tr>
	<% lastType = cntst.type() %>
       <% end %>
      <tr>
        <td class="schedule"><%= cntst.display_date == lastDate ? " " : lastDate = cntst.display_date %></td>
        <td class="schedule"><%= cntst.display_time %></td>
        <td class="schedule"><%= cntst.venue_name %></td>
	<td class="schedule"><%= cntst.awaycontestant.fullname %></td>
        <td>at</td>
	<td class="schedule"><%= cntst.homecontestant.fullname %></td>
      </tr>
    <% end %>
  </tbody>
  </table>