<h2><%= @grouping.fullname %></h2>

<h3>
<%= (link_to 'Standings', display_grouping_path(@competition.id, @grouping.id, "standings") ) if @grouping.has_teams?  %>
<%= (link_to 'Scores', display_grouping_path(@competition.id, @grouping.id, "scores") ) if @grouping.has_teams? %>
<%= (link_to 'Schedule', display_grouping_path(@competition.id, @grouping.id, "schedule") ) if @grouping.has_teams? %>
<%= (link_to 'Bracket', display_grouping_path(@competition.id, @grouping.id, "bracket") ) if @grouping.bracket_grouping and @bracket %>
</h3>
<br/>

<h4>
<%= @grouping.contests.size() %> Contests
</h4>

<%=     render partial: @what_to_render %>

