<%= form_for(@contest) do |f| %>
  <% if @contest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contest.errors.count, "error") %> prohibited this contest from being saved:</h2>

      <ul>
      <% @contest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :venue_id %><br>
    <%= f.select :venue_id,
           options_for_select(@venues.collect { |v| [v.name, v.id] },
             selected: @contest.venue_id), {} %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status,
           options_for_select(@statuses.collect { |s| [s, s] },
             selected: @contest.status), {} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
