<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @contest.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @contest.time %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @contest.venue_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @contest.status %>
</p>

<%= link_to 'Edit', edit_contest_path(@contest) %> |
<%= link_to 'Back', contests_path %>
