<h1>Listing competitions</h1>
<h2>for <!-- %= @customer.name % --></h2>

<%= render '/customers/select_customer' %>

<table>
  <thead>
    <tr>
      <th>Customer ID</th>
      <th>Competition ID</th>
      <th>Name</th>
      <th>Poolgroupseason / Poolgroupseasonlabel</th>
      <th>Playoffbracket / Playoffbracketlabel</th>
      <th>Keep Scores?</th>
      <th>Winpoints</th>
      <th>Drawpoints</th>
      <th>Losspoints</th>
      <th>Forfeitpoints</th>
      <th>Forfeitwinscore</th>
      <th>Forfeitlossscore</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @competitions.each do |competition| %>
      <tr>
        <td><%= competition.customer_id %></td>
        <td><%= competition.id %></td>
        <td><%= competition.name %>
		<%= competition.sport %>
		<%= competition.variety %></td>
        <td><%= competition.poolgroupseason %>
	       <%= competition.poolgroupseasonlabel %></td>
        <td><%= competition.playoffbracket %>
	       <%= competition.playoffbracketlabel %></td>
        <td><%= competition.keepscores %></td>
        <td><%= competition.winpoints %></td>
        <td><%= competition.drawpoints %></td>
        <td><%= competition.losspoints %></td>
        <td><%= competition.forfeitpoints %></td>
        <td><%= competition.forfeitwinscore %></td>
        <td><%= competition.forfeitlossscore %></td>
        <td><%= link_to 'Show', competition %></td>
        <td><%= link_to 'Edit', edit_competition_path(competition) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
