<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @competition.name %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @competition.sport %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @competition.variety %>
</p>

<p>
  <strong>Poolgroupseason:</strong>
  <%= @competition.poolgroupseason %>
</p>

<p>
  <strong>Poolgroupseasonlabel:</strong>
  <%= @competition.poolgroupseasonlabel %>
</p>

<p>
  <strong>Playoffbracket:</strong>
  <%= @competition.playoffbracket %>
</p>

<p>
  <strong>Playoffbracketlabel:</strong>
  <%= @competition.playoffbracketlabel %>
</p>

<p>
  <strong>Keepscores:</strong>
  <%= @competition.keepscores %>
</p>

<p>
  <strong>Winpoints:</strong>
  <%= @competition.winpoints %>
</p>

<p>
  <strong>Drawpoints:</strong>
  <%= @competition.drawpoints %>
</p>

<p>
  <strong>Losspoints:</strong>
  <%= @competition.losspoints %>
</p>

<p>
  <strong>Forfeitpoints:</strong>
  <%= @competition.forfeitpoints %>
</p>

<p>
  <strong>Forfeitwinscore:</strong>
  <%= @competition.forfeitwinscore %>
</p>

<p>
  <strong>Forfeitlossscore:</strong>
  <%= @competition.forfeitlossscore %>
</p>

<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Back', competitions_path %>
