<%= form_for :scorer_session, url: {action: :create} do |f| %>
  <% if @scorer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scorer.errors.count, "error") %> kept you from logging in:</h2>

      <ul>
      <% @scorer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= hidden_field_tag 'scorer_session[scorer_id]', @scorer_id %>
  </div>
  <div class="field">
    <%= f.label :hashed_scorer_password, 'Password' %>
    <%= f.password_field :scorer_password, :size => 40 %>
  </div>
  <div class="actions">
    <%= f.submit 'Login' %>
  </div>
<% end %>
