<%= form_for @manager, url:change_scorer_password_manager_path, method: :patch do |f| %>
  <% if @manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manager.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% @manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :hashed_password, 'Password' %>
    <%= f.password_field :scorer_password, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Confirm password' %>
    <%= f.password_field :scorer_password_confirmation, :size => 40 %>
  </div>
  <div class="actions">
    <%= f.submit  'Change Scorer Password' %>
  </div>
<% end %>
