<h1><%= @competition.fullname %></h1>

<% content_for :info_message do %>
Here to set passwords, are you?<br/>
Well, you can only do one password at a time.
<% end %>

<fieldset>
   <legend>Manager Password</legend>
      <%= render partial: 'managerpw_form' %>

<hr/>

      <%= render partial: 'clear_managerpw_form' %>
</fieldset>

<br/>

<fieldset>
   <legend>Scorer Password</legend>
      <%= render partial: 'scorerpw_form' %>

<hr/>

      <%= render partial: 'clear_scorerpw_form' %>
</fieldset>
