
   <div class="wrapper">
   
   <%= form_tag('send_us_a_message', authenticity_token: false, method: :get) do -%>

        <input type="hidden" name="subject" value="Note from Visitor">
     
     <%= content_tag :label, 'Your Name:' %>
     <%= text_field_tag 'name', nil, maxlength: 40, size: 40 %>
     <br/>
      <%= content_tag :label, 'Your E-mail Address:' %>
     <%= text_field_tag 'fromaddr', nil, maxlength: 80, size: 40 %>
      <br/>
      <%= content_tag :label, 'Your Message to us:' %>
      <%= text_area_tag 'message', nil, rows: 10, cols: 40 %>
      <br/>

      <input class="submit_user" name="submit_button"
                 value="Send" type="submit"/>
     
     <p class="note"><strong class="alert">Note</strong>:
               We need your email address so we can respond to you.</p>
<% end -%>

</div>

 