   
<% content_for :info_message do %>
   
<% end %>

<div class="wrapper">
<h1>What we Do and How we Help</h1>
</div>
<div class="wrapper">
<p>We offer a service to keep your League or Tournament Schedule, Scores, and Standings <strong>Online</strong> 
and <strong>Up to Date</strong> and we offer this service at an affordable price.</p>
</div>
<div class="wrapper">
<h1>How we&apos;re <em>Different</em></h1>
<p>By being an all online service, there is nothing for you to upload or publish. &nbsp;Just enter your schedule, record your scores, and your Teams and their Fans are kept "In the Hoop."
&nbsp;Immediately.</p>
<p>Also, I hope you&apos;ve noticed -- <strong>NO BANNER ADS</strong>! <br/>
(Don&apos;t believe me? Just scroll around and take a look.)</p>
</div>
<div class="wrapper">
<h1>Hmmm. Interested?</h1>
<p>To see what we can do for you, click <%= link_to "here", for_org_path %>. For your Fans, click <%= link_to "here", for_fans_path %>.
<p>Click
<%= link_to "here", pricing_path %> for information on pricing.</p>
<p>
Click <%= link_to "here", demos_path %> to check out one of our demos and see our service in action.</p>
<p>Had enough clicking?</p>
<h1>Then, Take the Next Step</h1>
<p>
<%= link_to "Contact", contact_us_path %> us with any questions you might have.</p>
  <!--
<p>and <!-- %= link_to "Get In The HOOP", new_customer_path % -->!
  -->
</p>
</div>
