<%= form_for @customer, url: update_password_customer_path do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :userid, 'Your email address is your userid:' %><br>
    <%= f.email_field :userid, :size => 80, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :hashed_password, 'Password' %>
    <%= f.password_field :password, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Confirm password' %>
    <%= f.password_field :password_confirmation, :size => 40 %>
  </div>
  <div class="actions">
    <%= f.submit "Change Password" %>
  </div>
<% end %>
