<h2>Your Competitions</h2>
<h3>(You have <%= @org.competitions.count() %> of them)</h3>

<br/>

<table>
  <thead>
    <tr>
      <th>Competition ID</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @org.competitions.each do |competition| %>
      <tr>
        <td><%= competition.id %></td>
        <td><%= competition.name %>
		<%= competition.sport %>
		<%= competition.variety %>
		<br/>
		<%= competition.poolgroupseasonlabel %>
		<%= competition.playoffbracketlabel %>
		<% if ! competition.keepscores %>
		  <br/>No Scores Will Be Kept
		<% end %>
		</td>
	<td> <%= link_to "Edit", edit_competition_customer_path(competition) %>
		</td>
	<td> <%= link_to "Send a Link to this Competition", get_competition_link_recipient_path(competition), target: "_blank" %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>