
<% if @org then %>
<h1>
  <%= @org.name if @org %>
</h1>
<% end %>
<p>
  <strong>Email Address on File:</strong>
  <%= @cust.email %>
</p>

<p>
  <strong>Organization:</strong>
  <%= %>
</p>

  <!-- This form is used by CustomersController but operates -->
  <!-- on an Organization resource, hence the form_for parameters. -->
<%= form_for @org, url: {controller: :customers, action: "update"}  do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, size: 40, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website, autocomplete: "off", size: 44 %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.phone_field :phone, autocomplete: "off", size: 10 %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to("Cancel", customer_path(), method: "get", action: :show) %>
  

