<p>
 Welcome <strong><%= @customer.name %></strong>
</p>

<h2>Your Competitions</h2>
<h3>(You have <%= @competitions.count() %> of them)</h3>

<%= button_to "Add a Competition", action: "new_competition", method: :get %>
<br/>

<table>
  <thead>
    <tr>
      <th>Competition ID</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @competitions.each do |competition| %>
      <tr>
        <td><%= competition.id %></td>
        <td><%= competition.name %>
		<%= competition.sport %>
		<%= competition.variety %>
		<br/>
		<%= competition.poolgroupseasonlabel %>
		<%= competition.playoffbracketlabel %>
		<% if ! competition.keepscores %>
		  <br/>No Scores Will Be Kept
		<% end %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

