<h1>Contests Needing Scores</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Venue</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <td><%= contest.display_date %></td>
        <td><%= contest.display_time %></td>
        <td><%= contest.venue_name %></td>
        <td><%= contest.status %></td>
        <td><%= contest.awaycontestant.team.name if contest.awaycontestant.team %></td>
        <td>at <%= contest.homecontestant.team.name if contest.homecontestant.team %></td>
      </tr>
    <% end %>
  </tbody>
</table>
