<h1>Dates and Venues for <%= @competition.name %>
<%= @competition.sport.humanize %> <%= @competition.variety.humanize %></h1>

<% content_for :info_message do %>
To add a new Venue, simply type in it&apos;s name and press ENTER.
<br/>To Change or Remove a Venue, click on the name of the Venue.
<br/>Session competition_id:<%= raw(session[:competition_id]) %> 
<br/>params id:<%= raw(params[:competition_id]) %>
<br/>controller name:<%= raw(controller.controller_name()) %>
<% end %>

<div class="dividedContent">
<div class="rightContent">
<h2>Add a New Date</h2>

<%= render 'validdates/dateform' %>

<h2>Dates</h2>

<table class="schedule">
  <thead>
    <tr>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
      <!-- Show sorted, unique Game Dates -->
    <% @validdates.sort{ |a,b| a.gamedate <=> b.gamedate }.
                          uniq{|vd|vd.gamedate}.each do |validdate| %>
      <tr>
        <td><%= validdate.gamedate %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>

<div class="leftContent">
<h2>Add a New Venue</h2>

<%= render 'venueform' %>

<h2>Venues</h2>

<table class="schedule">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= link_to venue.name, edit_competition_venue_path(@competition, venue) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
