<% link_target = raw(edit_bracketgrouping_bracketcontest_path(@bracketgrouping, bracketcontest)) %>



<table class="bracket">
 <tr>
   <td class="predecessor" rowspan="2">
     <%= (render partial: 'bracketcontests/bracket_contest' ,
                       locals: { bracketcontest: bracketcontest.homecontestant.priorcontest, final: false, editable: editable}
		       ) if bracketcontest.homecontestant.contestanttype=="W"   %>
   </td>
   <td class="hometeam">
     <%= bracketcontest.homecontestant.fullname %>
     <%= bracketcontest.homecontestant.score %></td>
  </tr>
 <tr>
   <td class="buml">
     <%= editable ? content_tag(:a,bracketcontest.name, href: link_target) : bracketcontest.name %>
     <br/>
   </td>
     <%= content_tag(:td, "Winner", class: "winner") if final %>
  </tr>
 <tr>
   <td class="predecessor" rowspan="2">
     <%= (render partial: 'bracketcontests/bracket_contest' ,
                       locals: { bracketcontest: bracketcontest.awaycontestant.priorcontest, final: false, editable: editable}
		       ) if bracketcontest.awaycontestant.contestanttype=="W"   %>
   </td>
   <td class="blml">
     <% gamespecs = "#{bracketcontest.display_date} #{bracketcontest.display_time} #{bracketcontest.venue_name}" %>
     <%= editable ? content_tag(:a, gamespecs, href: link_target) : gamespecs %>
   </td>
  </tr>
 <tr>
   <td class="awayteam"><%= bracketcontest.awaycontestant.fullname %>
				  <%= bracketcontest.awaycontestant.score %></td>
  </tr>
</table>
