<%= form_for  ([@bracket, @bracketcontest]), url: bracketgrouping_bracketcontest_path(@bracketgrouping, @bracketcontest),
			method: :delete,
               data: { confirm: "Are you sure? For real?  Once it's Gone, it's GONE." } do |f| %>
  <% if @bracketcontest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bracketcontest.errors.count, "error") %> prohibited this bracketcontest from being saved:</h2>

      <ul>
      <% @bracketcontest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
 <fieldset>
   <legend><%= "Remove this Contest From the Competition" %></legend>
   <div class="actions">
    <%= submit_tag("Remove It!") %>
  </div>
  </fieldset>
<% end %>


