<h3><%= @bracketgrouping.hierarchy.join(' ') %></h3>
<%= form_for ([@bracketgrouping, @bracketcontest]) do |f| %>
  <% if @bracketcontest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bracketcontest.errors.count, "error") %> prohibited this bracketcontest from being saved:</h2>

      <ul>
      <% @bracketcontest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br/>


<div class="rw2">
    <div class="rw2h"></div>
    <div class="rw2a"></div>
    <div class="rw2pair">
      <div class="btop">
        <br/>
        <%= fields_for :homecontestant, @bracketcontest.homecontestant do |contestant_fields| %>
          <%= contestant_fields.select :contestantcode, options_for_select(@bracketgrouping.all_participant_codes(),
		                                selected: @bracketcontest.homecontestant.contestantcode), 
		    {prompt: 'Which'} %>

          <%= contestant_fields.select :team_id,
		      options_for_select(@bracketgrouping.all_teams.collect {|t| [ t.name, t.id ] },
		                                selected: @bracketcontest.homecontestant.team_id), 
		    {prompt: 'TBD'} %>
       <% end %>
     </div>
  
     <div class="bmid">
       <br/>
       <%= f.label :name %>
       <%= f.text_field :name %>
        <br/>
       <%= f.label 'Date / Time:' %>
       <%= f.select :date,
		      options_for_select(@manager.validdates.sort{|a,b| a.gamedate <=> b.gamedate}.
		                                                 collect {|v| [ v.gamedate, v.gamedate ]},
		                                selected: @selecteddate), 
		    {prompt: 'TBD'} %>

       <%= f.select :time,
		      options_for_select(@manager.valid_times_as_select_options(),
		                                selected: @selectedtime), 
		    {prompt: 'TBD'} %>
	<br/>
       <%= f.label :venue %>:
       <%= f.select :venue_id,
		      options_for_select(@manager.venues.collect {|v| [ v.name, v.id ] },
		                                selected: @selectedvenue), 
		    {prompt: 'TBD'} %>
		    
       <%= f.label :status %>:
       <%= f.select :status,
		      options_for_select(Bracketcontest.statuses.collect {|st| [ st, st ] },
		                                selected: @selectedstatus), 
		    {} %>
     </div>

    <div class="bbot">
      <br/>
      <%= fields_for :awaycontestant, @bracketcontest.awaycontestant do |contestant_fields| %>
        <%= contestant_fields.select :contestantcode, options_for_select(@bracketgrouping.all_participant_codes(),
		                                selected: @bracketcontest.awaycontestant.contestantcode), 
		    {prompt: 'Which'} %>

        <%= contestant_fields.select :team_id,
		      options_for_select(@bracketgrouping.all_teams.collect {|t| [ t.name, t.id ] },
		                                selected: @bracketcontest.awaycontestant.team_id), 
		    {prompt: 'TBD'} %>
      <% end %>
    </div>
  </div>
  </div>
   <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
