<%= form_for(@bracketcontest) do |f| %>
  <% if @bracketcontest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bracketcontest.errors.count, "error") %> prohibited this bracketcontest from being saved:</h2>

      <ul>
      <% @bracketcontest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :venue %><br>
    <%= f.select :venue_id,
		      options_for_select(Venue.all.collect {|v| [ v.name, v.id ] },
		                                selected: @selectedvenue), 
		    {prompt: 'TBD'} %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status,
		      options_for_select(Regularcontest.statuses.collect {|st| [ st, st ] },
		                                selected: @selectedstatus), 
		    {} %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
