<h1>Customer Login Page</h1>

<% content_for :info_message do %>
<%= flash[:notice] %>
<% end %>

  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render 'login_form' %>

Not yet a Customer?
<%= link_to 'Click here to register', new_customer_path %>

