<h1>Listing validdates</h1>

<table>
  <thead>
    <tr>
      <th>Gamedate</th>
      <th>Competition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @validdates.each do |validdate| %>
      <tr>
        <td><%= validdate.gamedate %></td>
        <td><%= validdate.competition_id %></td>
        <td><%= link_to 'Show', validdate %></td>
        <td><%= link_to 'Edit', edit_validdate_path(validdate) %></td>
        <td><%= link_to 'Destroy', validdate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Validdate', new_validdate_path %>
