<p id="notice"><%= notice %></p>

<p>
  <strong>Gamedate:</strong>
  <%= @validdate.gamedate %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @validdate.competition_id %>
</p>

<%= link_to 'Edit', edit_validdate_path(@validdate) %> |
<%= link_to 'Back', validdates_path %>
