<%= form_for(@valid_time) do |f| %>
  <% if @valid_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@valid_time.errors.count, "error") %> prohibited this valid_time from being saved:</h2>

      <ul>
      <% @valid_time.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


     <!-- For now we do not accept Grouping or Venue to modify ValidTimes -->
     
  <div class="field">
    <%= f.label :grouping %>:<%= f.label :all %><br>
    <!-- %= f.number_field :grouping_id % -->
  </div>
  <div class="field">
    <%= f.label :venue %>:
    <%= f.label :all %>
    <!-- %= f.select :venue_id,
                      select_from_objects(@manager.venues, @valid_time.venue),
		    {prompt: 'All'} % -->
  </div>
  <div class="field">
    <%= f.label :from %>
    <%= f.select :from_time,
		      options_for_select(GameTime.times) %>
    <%= f.label :to %>
    <%= f.select :to_time,
		      options_for_select(GameTime.times) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
