<p id="notice"><%= notice %></p>

<h1>Listing Valid Times</h1>

<table>
  <thead>
    <tr>
      <th>Grouping</th>
      <th>Venue</th>
      <th>From time</th>
      <th>To time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @valid_times.each do |valid_time| %>
      <tr>
        <td><%= valid_time.grouping %></td>
        <td><%= valid_time.venue %></td>
        <td><%= valid_time.display_from_time %></td>
        <td><%= valid_time.display_to_time %></td>
        <td><%= link_to 'Show', valid_time %></td>
        <td><%= link_to 'Edit', edit_valid_time_path(valid_time) %></td>
        <td><%= link_to 'Destroy', valid_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Valid time', new_valid_time_path %>
