<!DOCTYPE html>
<html>
<head>
  <title>Scoreboard - <%= controller.class.to_s.rpartition('C')[0] %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<div class="mainContent">

<h1>
  <%= yield :page_title %>
  </h1>
<div class="wrapper">

<hr class="message"/>
 <p class="wrapper">
  <%= flash[:notice] %>
  <%= yield :info_message %>
 </p>
<hr class="message"/>
</div>

<%= yield %>
</div>
   <!-- end of mainContent -->



<div class="sideMatter">

<div class="navPanel">
<!-- Navigation Panel contents are set by Controller. -->
<!-- application helper method navPanel handles this. -->
<!-- %= navPanel() % -->
<%= navPanel() %>
</div>
<div class="instructions"><br><br><br>
<br>
<%= instructions() %>
</div>
</div>
   <!-- end of sideMatter -->



<div class="header">

<div class="inner-header">
<%= image_tag("netting2.jpg") %>
<!-- %= image_tag("netting.png") % -->
<!-- %= image_tag("gr_header2.jpg") % -->
<!-- %= image_tag("umd_logo.png") % -->
<strong>Online-Scoreboard.net</strong>
</div>
</div>
   <!-- end of header -->

<div class="footer">
Copyright 2007-<%= Date.today.strftime("%Y") %> Mile High Software  --  Today is 
<%= Date.today.strftime("%A %B %e, %Y") %>
<br/>
   <A href="http://order.1and1.com/xml/order/Hosting?affiliate_id=126952"
     class="hostLink"
    target="_blank">Hosting provided by 1&amp;1 Web Hosting</A>
</div>

</div>

</body>
</html>
