<!DOCTYPE html>
<html>
<head>
  <title>Scoreboard - <%= controller.class.to_s.rpartition('C')[0] %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- %= javascript_include_tag 'application', 'data-turbolinks-track' => true % -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<div class="mainContent">

<div class="waytop">
  <%= yield :waytop %>
</div>

<h1>
  <%= yield :page_title %>
  </h1>
<div class="wrapper">

<hr class="message"/>
<% if flash[:alert] %>
   <p class="alert">
    <%= flash[:alert] %>
   </p>
<%end %>
<% if flash[:notice] %>
  <p id="notice">
   <%= flash[:notice] %>
  </p>
<%end %>
 <p class="wrapper">
  <%= yield :info_message %>
 </p>
<hr class="message"/>
</div>

<%= yield %>
</div>
   <!-- end of mainContent -->



<div class="sideMatter">

<div class="navPanel">
<!-- Navigation Panel contents are set by Controller. -->
<!-- application helper method navPanel handles this. -->
<!-- %= navPanel() % -->
<%= navPanel() %>
</div>
<div class="instructions">
<%= instructions() %>
  <% if content_for(:instructions) %>
      Instructions<br/>
      <%= yield :instructions %>
  <% end %>
</div>
</div>
   <!-- end of sideMatter -->



<div class="header">

<div class="inner-header">
<a href="<%= welcome_index_path() %>">
<%= image_tag("netting2.jpg") %>
<!-- %= image_tag("netting.png") % -->
<!-- %= image_tag("gr_header2.jpg") % -->
<!-- %= image_tag("umd_logo.png") % -->
<strong>Online-Scoreboard.net</strong>
</a>
</div>
</div>
   <!-- end of header -->

<div class="footer">
Copyright 2007-<%= Date.today.strftime("%Y") %> Mile High Software  --  Today is 
<%= Date.today.strftime("%A %B %e, %Y") %>
<br/>
   <a href="http://www.1and1.com/?kwk=19210520" target="_blank">
    Hosting provided by 1&amp;1 Web Hosting
    </a>
</div>

</div>

</body>
</html>
